*{
    margin :0 ; 
    padding:0;
    box-sizing :border-box;
}

body{
    font-family: "Montserrat-Bold";
    background-color: #00bdbd !important;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    
}
.big-heading{
    height: 90px;
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
    padding-bottom: 10px;
}
h1{
    font-family: 'Montserrat-Black', sans-serif;
    height: 60px;
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
    text-align: center;
    color:  rgb(31, 28, 28);
}

.arr_container{
    position: absolute;
    margin-left :210px;
    height: 720px;
    border-radius: 10px;
    padding-top: 6px;
}
.bar{   
    background-color:rgb(29, 199, 29);
    position: static;
    float :left;
    margin:2px;
    padding-left: 18px;
    padding-top: 4px;
    /* padding-right: 0; */
    /* width: 9.222px; */
    width:15px;
    border-radius: 10px;
    writing-mode: vertical-rl;
    /* text-orientation: mixed; */
}
.buttons{
    align-content: center;
    padding-top: 100px;
    background-color: #ff4c68;
    background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
    width: 200px;
    text-align: center;
    height: 720px;
    border-radius: 10px;
    margin-left: 3px;
}
h4{
    color: white;
    background-color: #ff4c68;
    border-radius: 10px;
    width: unset;
}
.car{
    text-align: center;
    margin-top: 15px;
    background-color: #00b8e6;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.carous{
    text-align: center;
}